/* The min-height was specified to stop 
the radial-gradient background from tiling. */
html {
  min-height: 100%;
  min-width: 100%;
}

body {
  background-image: radial-gradient(ellipse, #668c9c, #255368);
  margin: 0;
}

#muse-text {
  margin-top: 8vh;
  font-size: 1em;
  font-family: 'Chango', cursive;
  text-align: center;
  color: rgb(39, 38, 38);
}

.hero-title {
  margin-top: 12vh;
  font-size: 2.2em !important;
  color: rgb(230, 198, 59);
  padding-bottom: 2vh;
  font-family: 'Chango', cursive;
  text-align: center;
  }

#muse-hidden-text-desktop {
  margin: 20vh 8vw 0 8vw;
  font-size: 2em;
  font-family: 'Chango', cursive;
  text-align: center;
  display: none;
}

#click-beanie {
  font-size: 15px;
  text-align: left;
  padding-top: 17vh;
  margin-left: 6vw;
  font-family: 'Chango', cursive;
  color: blanchedalmond;
}

#bean {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 40vw;
}

.bean-pic:hover {
  cursor: pointer;
}

/* ///////////////////////////// */
/* //////////  Page 2  ///////// */
/* ///////////////////////////// */

img.foodPic {
  border-radius: 5px;
}

h2 {
  font-family: 'Reenie Beanie', cursive;
  color: rgb(230, 198, 59);
  font-size: 38px;
  padding-top: 5vh;
  text-align: center;
  margin-bottom:  0vh;
}

#click-me {
  text-align: center;
  color: rgb(60, 107, 109);
  font-size: 13px;
  text-transform: uppercase;
}

#recipelink {
  font-size: 20px; 
  text-decoration: bold;
  color: rgb(230, 198, 59);
  font-family: 'Chango', cursive;
}

img.foodPic {
  border-radius: 5px;
}

#page2 {
  text-align: center;
  color: rgb(60, 107, 109);
  font-size: 13px;
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  display: none;
  padding-top:6vh;
}

/* This required assigning the class of "link" separately 
to the html inserted after both axios calls. */
.link {
  text-decoration: none;
}

/* Sets off the boogie animation in response to hover 
& changes the cursor to the pointer when you hover over 
the bean in an environment with mouse use. */
#bean2:hover {
  /* cursor: pointer; */
  /* Sets the interval between jam sessions. */
  animation: shake 2s;
  /* Sets the number of times the bean will jam upon page load.*/
  animation-iteration-count: 2;
}

/* Styled the second bean, from "page2" */
#bean2 {
  width: 20vw;
  /* Sets the interval between jam sessions. */
  animation: shake 2s;
  /* Sets the number of times the bean will jam upon page load.*/
  animation-iteration-count: 2;
}

.side-by-side {
  width: 70vw;
  /* width: 300px; */
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* justify-content: space-evenly; */
  margin-top: 2vh;
  margin-left: auto;
  margin-right: auto;
}

#click-me {
  font-size: 12px;
  font-family: 'Chango', cursive;
  color: cadetblue;
}

/* Used keyframes tutorial on w3 for the animation below.
https://www.w3schools.com/howto/howto_css_shake_image.asp */
@keyframes shake {
  0% { transform: rotate(0deg); }
  15% { transform: rotate(0deg); }
  30% { transform: rotate(-10deg); }
  45% { transform: rotate(10deg); } 
  60% { transform: rotate(-10deg); }
  75% { transform: rotate(10deg); }
  87% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

h6 {
  font-family: 'Chango', cursive;
  font-size: 12px;
  color: cadetblue;
  margin: 4vh 0 0 0;
}



/* ///////////////////////////// */
/* /////// Media Queries ////////*/
/* ///////////////////////////// */

@media only screen 
and (min-width: 1201px) {
  img.foodPic {
    width: 30vw;
  }

}

@media only screen 
and (min-width: 760px) and (max-width: 1200px){
  img.foodPic {
    width: 75vw;
  }
}


@media only screen 
and (min-width: 800px) 
{
  #bean {
    width: 40vw;
    position: fixed;
    bottom: 0;
    right: 0;
  }
  
  #muse {
    margin-top: 8vh;
    font-size: 26px; 
  }
  
  #muse-text {
    display: none;
  }

  #muse-hidden-text-desktop {
    display: block;
  }
  
  #click-beanie {
    position: absolute;
    bottom: 20px;
    font-size: 26px;
  }
  

  /* //// Page 2 Media Queries ////*/

  
  #click-me {
    text-align: center;
    color: rgb(109, 60, 72);
    /* color: rgb(60, 107, 109); */
    font-size: 18px;
    text-transform: uppercase;
  }
  
  #page2 {
    /* text-align: center; */
    /* color: rgb(60, 107, 109); */
    /* font-size: 13px; */
    /* font-family: 'Rubik', sans-serif; */
    /* text-transform: uppercase; */
  }
  
  #recipelink {
    font-size: 20px; 
    text-decoration: bold;
    color: rgb(230, 198, 59);
    font-family: 'Chango', cursive;
  }
  
  .side-by-side {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
  }
  
  #click-me {
    font-size: 12px;
    font-family: 'Chango', cursive;
    color: cadetblue;
  }
}




